-r ../../requirements.base.txt
passlib[bcrypt]
bcrypt<4 # pasar a <4 cuando se actualice passlib
python-jose[cryptography]

# Cuando empieces a usar reservation, aquí agregas lo específico
# FastAPI y servidor
httpx
# Cuando empieces a usar reservation, aquí agregas lo específico
jinja2
