#rasa-pro==3.12.3
#rasa-sdk==3.12.0
python-dotenv==1.0.1
requests==2.32.3
psycopg2-binary==2.9.9
SQLAlchemy==2.0.30
# Dejar que rasa-pro resuelva spacy para evitar conflictos de versiones
fastapi==0.115.6
uvicorn[standard]==0.32.1
httpx==0.28.1
python-jose[cryptography]==3.3.0
